.header{
    margin: 0;
    padding: 2% 5%;
    background: transparent;
    position: relative;
    display: flex;
    position: fixed;
    width: 90%;
    z-index: 1000;
    /* background: black; */
}
.header:hover{
    background-color: rgb(16, 12, 74,0.7);
}
.header__logo{
    width: 70%;
    padding-top: 3%;
}
.header__content{
    display: flex;
    letter-spacing: 1.1px;
    font-size: 14px;
    position: absolute;
    right: 5%;
    list-style: none;
    margin-top: 0;
}
.header__list{
    margin:0px  10px;
    padding-top: 20px;
    text-shadow: 1px 1px 20px rgb(16, 12, 74);
}
.header__list:hover{
    color: rgb(135, 134, 147);
}
.launch-button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(30, 30, 73);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid ;
    border-color: rgb(12, 12, 136) rgb(56, 56, 136) rgb(81, 81, 143);
}

@media screen and (max-width: 1050px) {
    .header__content{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .header__logo{
        width:50% ;
        padding-top: 5%;
    }
}

