@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&family=Righteous&display=swap');

*{
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
font-family: 'Righteous', cursive;

}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);

}


.hr{
  height: 1px;
  background-image: linear-gradient(to right, #dcdcdc, #8e82b9, #5f7197, #616ae3, #e0e0e0);
  border: none;
}
