.career{
    margin: 0;
    padding: 0;
}

.career__head{
    width: 100%;
    overflow: hidden;

}.header__img{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{transform: translateX(0);}
    25%{transform: translateX(0);}
    30%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    55%{transform: translateX(-200%);}
    75%{transform: translateX(-200%);}
    80%{transform: translateX(-300%);}
    100%{transform: translateX(-300%);}
}

.header__img >img{
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    opacity: 0.7;
}

.header__img >img:hover{
    opacity: 1;
    mask-image: none;

}


.career__at{
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
    padding-bottom: 50px;
}

.career__at > h2 {
    font-size: 35px;
    margin-left: 20px;
    margin-right: 40px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    background: linear-gradient(to right, #dcdcdc, #8e82b9, #5f7197, #616ae3, #e0e0e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.career__data{
    letter-spacing: 0.5px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}
.career__tweet{
    background-image: linear-gradient(to left, #000000,#0c072a, #000000);

    width: 80%;
    display: flex;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* justify-content: center; */
}
.career__tweet .tweet{
    width: 100%;
}

.tweet{
    /* display: flex; */
    flex-basis: 20%;
    color: aliceblue;
    overflow-x: hidden;
    margin: 15px;
    padding-bottom: 50px;

}

.tweet > h3{
    font-weight: 300;
    font-size: 12px;
}

.t > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tt > h5{
    font-weight: 300;
    font-size: 15px;
    line-height: 1;
    margin: 0;


}
.t{
    display: flex;
}
.tt{
    margin-left: 15px;

}
.tweet h3 span{
    font-size: 25px;
}

.tt > h6{
    font-weight: 300;
    font-size: 13px;
    line-height: 2;
    margin: 0;
}

.job{
    color: aliceblue;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(to left, #000000,#0c072a, #000000);
}

.job h1{
    font-size: 40px;
    background: linear-gradient(to right, #dcdcdc, #8e82b9, #5f7197, #616ae3, #e0e0e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job__container{
    padding: 10px;
    border: 1px solid ;
    border-color: #0c072a;
    margin-bottom: 30px;
    position: relative;

}
.job__container h2{
    width: 80%;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 23px;
}
.job__container h3{
    opacity: 0.7;
    padding-top: 10px;

    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 0;

}
.apply{
    display: flex;
}
.apply button{
    position: absolute;
    right: 5%;
    top: 5%;
    width: 15%;
    background-color: #0c072a;
}

.apply button:hover{
    transform: scale(1.03    );
}

.job__container h5{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 0;
    padding-bottom: 10px;
}

.job__container h6{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 15px;
}

@media screen and (max-width: 990px) {
    .tweet{
        flex-basis: 80%;
    }
    
}